.card-charly {
  background-color: #e8f5e9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  margin: 15px auto;;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #2e7d32;
}

.profile-image-charly {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.profile-image-charly:hover {
  animation: shake 0.5s;
}

.show-more-button-charly {
  background: linear-gradient(135deg, #a5d6a7, #66bb6a);
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.show-more-button-charly:hover {
  background: linear-gradient(135deg, #4caf50, #2e7d32);
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.social-icons-charly {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icons-charly a {
  font-size: 24px;
  color: #2e7d32;
  transition: color 0.3s, transform 0.3s ease;
}

.social-icons-charly a:hover {
  color: #4caf50;
  transform: rotate(360deg);
}

/* Media Queries para Responsividad */
@media (max-width: 600px) {
  .card-charly {
    max-width: 90%;
    margin: 12px auto;
  }

  .profile-image {
    width: 80px;
    height: 80px;
  }

  .social-icons-charly a {
    font-size: 20px;
  }
}
